.main-header {
    display: flex;
    border-bottom: 2px solid $blue-dark;
    justify-content: space-between;
    align-items: center;
    background: $blue;
    height: 55px;
    padding: 0 15px;
    position: relative;
    &__logo {
        border-radius: 50%;
        display: inline-block;
        width: 105px;
        height: auto;
    }
    .main-nav {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        .icon-item {
            color: #fff;
            padding: 5px;
            font-size: 20px;
            margin-right: 8px;
            display: inline-block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: color 0.25s ease;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                color: $orange;
            }
        }
         &__link {
            margin-right: 5px;
        }
    }
}

@media (min-width: 350px){
    .main-header {
        height: 60px;
         &__logo {
            width: 120px;
        }
        .main-nav {
            &__link {
                margin-right: 10px;
            }
        }
    }
}