html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: $blue-dark;
    @media (min-width: 700px){
        font-size: 24px;
    }
}

h3 {
    font-size: 16px;
     @media (min-width: 700px){
        font-size: 18px;
    }
}

p {
    font-size: 1rem;
    font-weight: 300;
}

a  {
    text-decoration: none;
}