// .icon-button {
//     color: $default-text;
//     font-size: 0.75rem;
//     letter-spacing: 1.1px;
//     font-weight: 300;
//     border: none;
//     background: transparent;
//     cursor: pointer;
//     &:hover {
//         color: $orange-light;
//     }
//     i {
//         font-size: 1rem;
//            color: $pink;
//     }
// }