.main-btn {
    border: 1px solid darken($orange, 8%);
    border-radius: 4px;
    display: inline-block;
    background-color: $orange;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: background-color 0.25s ease;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 8%);
    }
}