.toggle-button {
    border: 1px solid darken($orange, 8%);
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 0.75rem;
    border: none;
    background: $orange;
    border-radius: 4px;
    padding: 4px 8px;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 8%);
    }
    &.active {
        .checked {
            display: inline-block;
        }
        .unchecked {
            display: none;
        }
        .loading {
            display: none;
        }
    }
    &.pending {
        .checked {
            display: none;
        }
        .unchecked {
            display: none;
        }
        .loading {
            display: inline-block;
            animation: spiner 1s linear infinite forwards;
        }
    }
    i {
        display: inline-block;
        margin-left: 5px;
    }
    .checked {
        display: none;
    }
     .loading {
            display: none;
        }
}

@keyframes spiner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}