.content-card {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 1px 0;
    margin: 60px auto;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #999;
    text-align: center;
    &__content {
        display: block;
        margin: 30px 0;
        padding: 0 15px;
    }
}