.genre-selector {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 15px;
    &__drawer {
        height: 0;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
        border-radius: 0 0 4px 4px;
        width: 100%;
        max-width: 550px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    &__drawer-content {
        display: flex;
        flex-wrap: wrap;
        border-top: 2px solid $blue-dark;
        background-color: #fff;
        padding: 10px 15px;
    }
    .genre-link {
        color: $default-text;
        display: inline-block;
        min-width: 50%;
        padding: 8px 4px;
        cursor: pointer;
        span {
            display: inline-block;
            position: relative;
            padding-bottom: 3px;
            overflow: hidden;
            &::after {
                display: block;
                content: '';
                background-color: $orange;
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translateX(-101%);
                transition: transform 0.25s ease;
            }
        }
        &.active {
            span::after {
                 transform: translateX(0);
            }
        }
        &:hover {
            span::after {
                 transform: translateX(0);
            }
        }
    }
}

@media (min-width: 500px){
    .genre-selector {
        .genre-link {
            min-width: 33.33%;
        }
    }
}
