.main-footer {
    background-color: $blue;
    padding: 20px 15px;
    text-align: right;
    &__credit {
        color: #fff;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}