.movie-group {
    margin-top: 20px;
    .movie-type-link {
        font-size: 18px;
        font-weight: 600;
        color: $orange-dark;
        &:hover {
            color: $orange;
        }
    }
    &__drawer {
        border-radius: 4px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
        display: block;
        overflow: hidden;
        height: 0;
        max-width: 1000px;
        margin: 0 auto 0;
        transition: height 0.3s ease, margin 0.3s ease;
    }
    .drawer-content {
        padding: 0px 0 0;
        position: relative;
    }
    .close-drawer {
        display: inline-block;
        border: none;
        background: transparent;
        font-size: 20px;
        color: $default-text;
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }
}

 @media (min-width: 700px){
    .movie-group {
        .movie-type-link {
            font-size: 20px;
        }
    }
}