.movie-slider {
    display: block;
    width: 100%;
    margin-top: 5px;
    position: relative;
    &:hover {
        .movie-slider__back,
        .movie-slider__forward {
            opacity: 1;
        }
    }
    &.loading {
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    &__indicators {
        display: inline-block;
        position: absolute;
        top: -5px;
        right: 0;
        height: auto;
        @extend .clear;
        z-index: 1;
        button {
            border: none;
            border-radius: 0;
            display: inline-block;
            width: 12px;
            height: 3px;
            background: #aaa;
            padding: 0;
            margin-left: 1px;
            float: left;
            &.active {
                background-color: #777;
            }
        }
    }
    &__content {
        overflow: hidden;
        margin-left: -2px;
        margin-right: -2px;
    }
    &__track {
        @extend .clear;
        transition: transform 0.4s ease;
        white-space: nowrap;
    }
    &__item {
        display: inline-block;
        width: 100%;
        max-width: 33.333%;
        padding: 0 2px;
        white-space: normal;
    }
    &__forward,
    &__back {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: none;
        background: $orange;
        padding: 5px;
        height: 30px;
        width: 30px;
        position: absolute;
        top: calc(50% - 15px);
        z-index: 5;
        left: 5px;
        transition: background-color 0.25s ease, opacity 0.25s ease;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            background: $orange-dark;
        }
        &::after {
            content: '';
            display: inline-block;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            height: 12px;
            width: 12px;
            transform: rotate(45deg);
            position: absolute;
        }
        &.off {
            display: none;
        }
    }
    &__forward {
        left: initial;
        right: 5px;
        &::after {
            transform: rotate(-135deg);
        }
    }
}

@media (min-width: 700px){
    .movie-slider {
        &__item {
             max-width: 20%;
        }
    }
}

@media (min-width: 1200px){
    .movie-slider {
        &__item {
             max-width: 14.28%;
        }
    }
}