.movie-info-card {
    border-top: 4px solid $blue-dark;
    border-radius: 4px;
    background: #fff;
    display: flex;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    color: $default-text;
    &__left {
        display: none;
    }
    &__right {
        min-width: 100%;
    }
    .movie-card-title {
        margin-top: 0;
        padding-right: 50px;
    }
    .movie-card-actions {
        display: flex;
        .poster-container {
            display: inline-block;
            min-width: 35%;
        }
        .action-list {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding-left: 15px;
            min-width: 65%;
            li {
                margin-bottom: 10px;
            }
        }
    }   
    .signup-prompt {
        font-size: 14px;
        color: $text-grey;
        font-weight: 300;
        a {
            color: $orange;
            margin-right: 4px;
            font-weight: 400;
            &:nth-of-type(2){
                margin-left: 4px;    
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 700px){
    .movie-info-card {
        &__left {
            display: inline-block;
            min-width: 30%;
        }
        &__right {
            display: inline-block;
            min-width: 70%;
            padding-left: 15px;
        }
        .movie-card-actions {
            display: flex;
            .poster-container {
                display: none;
            }
            .action-list {
                padding-left: 0;
                li {

                }
            }
        }   
    }
}