.movie-card-view {
    position: relative;
    margin: 25px auto;
    max-width: 1000px;
    .back-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #fff;
        border: 2px solid $orange;
        position: absolute;
        top: 16px;
        right: 16px;
        height: 30px;
        width: 30px;
        color: $orange;
        padding: 0;
        cursor: pointer;
        &:hover {
            i {
                transform: translateX(-2px);
            }
        }
        i {
            transition: transform 0.25s ease;
        }
    }
    .movie-info-card {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    }
}