.pagination {
    margin-left: auto;
    a {
        box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
        background: #fff;
        display: inline-block;
        padding: 8px 12px;
        margin-left: 5px;
        color: $orange;
        font-size: 12px;
        overflow: hidden;
        position: relative;
        &::after {
            background: $orange;
            display: inline-block;
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(101%);
            transition: transfrom 0.25s ease;
        }
        &.active {
            &::after {
                transform: translateX(0);
            }
        }
    }
    &_button-next {
        border-radius: 0 4px 4px 0;
        position: relative;
    }
    &_button-back {
        border-radius: 4px 0 0 4px;

    }
}

@media (min-width: 700px){
    .pagination {
        a {
            font-size: 14px;
        }
    }
}
