.search-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    &__content {
        width: 100%;
        height: 100%;
    }
}

.search-card {
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.7);
    background: #fff;
    overflow: hidden;
    height: 100%;
    .search-form {
        border-bottom: 2px solid $blue-dark;
        width: 100%;
        background: $blue;
        padding: 16px 16px 8px;
        form {
            border-radius: 4px;
            height: 32px;
            width: 100%;
            overflow: hidden;
        }
        input {
            border-radius: 0;
            border: none;
            height: 100%;
            width: calc(100% - 80px);
            padding: 8px;
        }
        button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: none;
            width: 40px;
            height: 100%;
            margin: 0;
            color: #fff;
            vertical-align: top;
            cursor: pointer;
        }
        .back-btn {
            width: 39px;
            background: #fff;
            color: $orange;
            border-right: 1px solid $orange;
            .fa-times {
                display: none;
                will-change: transform;
                transition: transform 0.25s ease;
            }
            &:hover {
                .fa-times {
                    transform: scale(1.1);
                }
            }
        }
        .search-btn {
            position: relative;
            background-color: $orange;
            transition: background-color 0.25s ease;            
            &:hover {
                background-color: $orange-dark;
            }
        }
    }
    .search-info {
        display: inline-block;
        padding: 16px;
        color: #aaa;
        font-size: 12px;
    }
    .search-results-list {
        padding: 16px;
        a {
            border-bottom: 1px solid #ddd;
            display: block;
            padding: 8px 0;
            color: $default-text;
            &:last-of-type {
                border: none;
            }
            &:hover {
                color: $orange-dark;
            }
        }
    }
}

@media(min-width: 700px){
    .search-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        &__content {
            max-width: 400px;
            height: auto;
        }
    }
    .search-card {
        height: auto;
        border-radius: 4px;
        .search-form {
            .back-btn {
                .fa-times {
                    display: inline-block;
                }
                .fa-arrow-left {
                    display: none;
                }
            }
        }
        .search-results-list {
            padding: 16px;
            a {
                border-bottom: 1px solid #ddd;
                display: block;
                padding: 8px 0;
                &:last-of-type {
                    border: none;
                }
            }
        }
    }
}