.user-info-popup {


    position: relative;
    &.active {
        .user-info-popup__drawer {
            display: inline-block;
        }
    }
    &__drawer {
        border-top: 4px solid $blue-dark;
        display: none;
        border-radius: 4px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        background: #fff;
        min-width: 120px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;
        color: #333;
        overflow: hidden;
        a {
            font-size: 16px;
            padding: 6px 6px 6px;
            display: block;
            color: $default-text;
            position: relative;
            &::after {
                content: '';
                display: inline-block;
                background: $grey;
                width: calc(100% - 12px);
                height: 1px;
                position: absolute;
                bottom: -1px;
                right: 6px;
                z-index: 2;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &:hover {
                color: $orange;
            }
        }
    }
}